.bord_response{
    background-color: #eeeeee;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
}

.bord_time {
    color: #777777;
    font-size: 12px;
}

.bord_thread {
    color: blue;
}