.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(226, 102, 0);
    display: flex;
    flex-direction: column-reverse;
}

.footer_text{
    color: white;
    text-align: center;
}

.footer_text a{
    color: white;
}

.footer_text a:hover{
    text-decoration: underline;
}