.topic{
    display: flex;
    width: 100%;
    background-color: #eeeeee;
    margin-bottom: 10px;
}

.topic_image{
    width: 180px;
    height: 150px;
    background-size: cover;
    background-position: center center;
}

.topic_discription{
    padding-left: 20px;
    padding-top: 10px;
}